@page
@model AzureWebApp.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Development Slots";
}

<div class="text-center">
    <h1 class="display-4">Testing Development Slots</h1>
    <h3>Validating the development slot feature...</h3>
</div>